@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: Banguiat;
    src: url(fontes/Benguiat\ Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*evita somar largura fantasma*/
}

h2 {
    font-size: 2vw;
    font-weight: 300;
    letter-spacing: 5px;
}


body {
    background-color: #0c0102;
    color: rgba(255, 255, 255, 0.89);
    font-family: 'Poppins';
    overflow-x: hidden;
}


header {
    width: 100%;
    padding: 4vh;
    display: flex;    
    justify-content: space-between;
    position: absolute;
    z-index: 9;
}

.hero {    
    width: 100%;
    height: 100vh;
    background-image: url("projeto imagens/hero.webp");
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8vw;



    .titulo {
        h3{
            font-weight: 300;
            letter-spacing: 12px;
            font-size: 25px;
        }

        h1{
            font-size: 4vw;
            max-width: 20vw;
            font-family: Banguiat;
        }
    }

    .chamado {
        display: flex;
        flex-direction: column;
        align-items: end;
        font-size: 2vw;
        max-width: 27vw;
        justify-content: end;
        text-align: end;
    }
}

button {
    font-family: 'poppins';
    font-weight: 200;
    border-bottom: white;
    background: transparent;
    color: white;
    display: flex;
    font-size: 16px;
    gap: 12px;    
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    padding-top: 16px;
}

.sessaodois {
    padding: 0 8vw;
    display: flex;
    flex-direction: column;
    padding-top: 2vw;

    .titulosessao {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}

.bgmonstro {
    background-image: url("projeto imagens/bg-sec2.webp");
    background-size: cover;
    background-position: 50%;
}

.cidades {
    display: flex;
    justify-content: space-between;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-radius: 10px;

    h3 {
        font-weight: 400;
    }
  

        .sidney {
            background-image: url("projeto imagens/card1.webp");
            background-size: cover;
            aspect-ratio: 16/9;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            width: 32%;
            border-radius: 7px;
            align-items: end;
        }

        .mexico {
            background-image: url("projeto imagens/card2.webp");
            background-size: cover;
            aspect-ratio: 16/9;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            width: 32%;
            border-radius: 7px;
            align-items: end;
            
        }

        .islandia {
            background-image: url("projeto imagens/card3.webp");
            background-size: cover;
            aspect-ratio: 16/9;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            width: 32%;
            border-radius: 7px;
            align-items: end;
        }
}

.depoimentos {
    display: flex;
    flex-direction: column;

    .logos {
        padding-top: 4vw;
        padding-left:  8vw;
        padding-right: 8vw;
        display: flex;
        justify-content: space-between;
    }

    .depoimento {
        padding: 8vw;
        display: flex;
        justify-content: space-between;
    }

    .dep {
        text-align: justify;
        max-width: 30%;
    }

    p {
        padding-top: 15px;
    }

}

.agradecimentos {
    padding:  0 8vw;
    text-align: center;

    h2 {
        padding-top: 2vw;
        padding-bottom: 2vw;
    }

    ul {
        display: flex;
        justify-content: space-between;
        padding-bottom: 8vw;
    }

    li {
        list-style-type: none;
    }
}

footer {
    display: flex;
    flex-direction: column;
    background-image: url("projeto imagens/bg-footer.webp");
    background-position: 50%;
    background-size: cover;
}

.conteudofooter {
    display: flex;
    justify-content: space-between;
}

.titulofooter {
    padding: 8vw;
        h3 {
            font-weight: 300;
            letter-spacing: 12px;
            font-size: 25px;
        }

        h1 {
            font-size: 4vw;
            max-width: 20vw;
            font-family: Banguiat;
        }
}

.parceria {
    display: flex;
    gap: 2vw;
    padding: 8vw;
    justify-items: center;

    h3 {
        font-weight: 400;
        padding-bottom: 10px;
    }

    li {
        list-style-type: none;
    }
}

.logofooter {
    display: flex;
    justify-content: space-between;
    padding: 4vw;
}

.textoinfinito {
    display: flex;
    gap: 7vw;
    width: max-content; /*texto nao quebra linha, mas expande a tela*/
    h3{
        font-family: banguiat;
        font-size: 12vw;
        mix-blend-mode: color-dodge; /*mesclar com o fundo*/        color: #8d8d8d; /*para mesclar no fundo, tom precisa ser proximo ao cinza*/
        animation: textoinfinito 8s infinite linear;
    }
}

@keyframes textoinfinito {
    100% {
        transform: translateX(-100%);
    }
}